src/main/java/xml_learn/hr.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT hr (employee+)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!ELEMENT dname (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT department (dname,address)>
<!ELEMENT employee (name,age,salary,department)>
<!ATTLIST employee no CDATA "">